a {
  text-decoration: none;
  color: #fff;
}
.menu-bar {
  background-color: #777;
}
.menu-bar a {
  padding: 12px;
  display: inline-block;
  font-size: 18px;
  float:left;
}
.menu-bar a:hover {
  background-color: #000;
}
.menu-bar a.active {
  background-color: teal;
}

